<br>
<h1 class="formtitle">New Facility Request</h1>
<div class="container my-3 col-12 mx-auto form">
  <div class="">
    <div class= "">
      <div class= "row col-12">
          <%= simple_form_for [ @category, @facility ] do |f| %>
            <div class="form-inputs">
              <%= f.input :name, label: 'Facility Name:' %>
              <%= f.input :address, label: 'Address:' %>
              <%= f.input :phone, label: 'Phone:' %>
              <%= f.input :category, collection: Category.all  %>
              <%= f.input :price_range, collection: ["$", "$$", "$$$"]   %>
              <%= f.input :photo, as: :file, label: 'Upload Photo' %>
            </div>

            <div class="form-actions d-flex justifty-content-center">
              <%= f.submit "Submit Request", class:"btn-gradient mx-auto" %>
            </div>
         <% end %>
      </div>
        <br>
        <h6 class="italic">Your Request will be verified within 7 days</h6>
    </div>
  </div>
</div>
