<h1 class="major">Parabilities</h1>
<p class="tagline"><i>'Making the world <strong>inclusive</strong> together'</i></p>
<div class="content-wrapper">

    <% @categories.each do |category| %>
      <%= link_to  category_path(category.name) do %>
        <div class="news-card">
          <div href="#" class="news-card__card-link"></div>
          <%# <img src="https://images.pexels.com/photos/631954/pexels-photo-631954.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="" class="news-card__image"> %>
          <% case category.name %>
          <% when "Restaurants" %>
          <%= cl_image_tag("jason-leung-poI7DelFiVA-unsplash_evroiu", width:'100%', style: "margin-top: -50px") %>
          <% when "Gyms" %>
          <%= cl_image_tag("samuel-girven-fqMu99l8sqo-unsplash_kndgsb", width:'100%', style: "margin-top: -50px") %>
          <% when "Parks" %>
          <%= cl_image_tag("jonathan-formento-2Osf8c0BpsQ-unsplash_byltfv", width:'100%', style: "margin-top: -50px") %>
          <% when "Restrooms" %>
          <%= cl_image_tag("kenny-eliason-MtUktx8qwnk-unsplash_zc9nib", width:'100%', style: "margin-top: -50px") %>
          <% end %>

          <div class="news-card__text-wrapper">
            <h2 class="news-card__title"><%= category.name %></h2>
            <div class="news-card__details-wrapper">
              <div class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

  <div class="break"></div>

    <div class="news-card">
      <div href="#" class="newscard__card-link"></div>
      <%= cl_image_tag("hannah-busing-Zyx1bK9mqmA-unsplash_irplaq", width:'100%', style: "margin-top: -50px") %>
        <div class="news-card__text-wrapper">
        <h2 class="news-card__title"><%= link_to "Join the Community Channel!", community_path, class: "text-white",style: "text-decoration:none;" %></h2>
      </div>
    </div>

 <div class="news-card">
      <div href="#" class="newscard__card-link"></div>
      <%= cl_image_tag("hector-falcon-IGnkqEZdQX0-unsplash_rd9frf", width:'100%', style: "margin-top: -50px") %>
        <div class="news-card__text-wrapper">
        <h2 class="news-card__title"><%= link_to "Missing A Facility?", new_facility_path, class: "text-white", style: "text-decoration:none;" %>
  </div>

</div>
