<div class="row comment-review-card">
  <%# Avatar %>
   <%= cl_image_tag comment.user.photo.key, class: :av , height: 150, width: 150, crop: :fill, gravity: :face%>

  <%# Description %>
  <div class="col-9 description p-2 ms-2">

    <%# username %>
    <div class="textblue-shadow">
      <h4><%= comment.user.username.capitalize %></h4>
    </div>

    <%# Review comments %>
    <p id="comment-<%= comment.id %>"><h5 class="fs-5 textblue-shadow ms-2"><%= comment.comment %></h5></p>

  </div>
    <%# Time sent ago %>

  <div class="d-flex justify-content-end mt-2">
    <% timecreated = comment.created_at.strftime("%a %b %e at %l:%M %p") %>
      <i><%= time_ago_in_words(timecreated).gsub('about','') + ' ago' %></i>
  </div>
</div>


cl-image-tag facility.photo.key
