<br>

<h1 class="formtitle">Share Your Experience</h1>
<div class="container container my-3 col-12 mx-auto form">
  <div class="review-form col-12 mx-auto">

    <h2 class="formname"><%= @facility.name %></h2>


    <div class="row col-12 " data-controller="review-form" >
      <%= simple_form_for [@facility, @review] do |f| %>
        <%= f.hidden_field :user_id, label: "user_id", value: @review.user_id %>
        <%= f.hidden_field :facility_id, label: "facility_id", value: @review.facility_id %>

        <div class="row">

          <% @facility.rating_types.each do |rating_type| %>
            <div class="rating" data-controller="rating-star">
            <h4><%= rating_type.name %></h4>

              <% (1..5).each do |i| %>
                  <span class="fa fa-star fa-2xl" data-action="click->rating-star#rate"
                    data-stars="<%= i %>">
                  </span>

              <% end %>
              <input type="hidden" name="<%= "Type" + rating_type.id.to_s %>" value="<%= rating_type.id %>" />
              <input type="hidden" class="rating-value" name="<%= "Rating" + rating_type.id.to_s %>" data-rating-star-target="input"/>
              <div class="text-danger rating-value-error mt-3" style="display:none" >This field is required</div>

            </div>

          <% end %>

        </div>

        <div class="review-content-photo">
          <%= f.input :content, label: "Review", placeholder: "Any additional comments?" %>
          <%= f.input :photo, as: :file, label: "Upload Photo" %>
          <div class="d-flex justifty-content-center">
            <%= f.submit "Submit", class:"btn btn-gradient mx-auto", data: { action: "click->review-form#submitForm" } %>
          </div>
        </div>



      <% end %>

    </div>
  </div>
</div>
