<%# <!DOCTYPE html>
<html>
  <head>
    <title>Parabeta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%# <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%# </head>

  <body>
    <%= yield %>
  <%# </body>
</html>   %>

<!DOCTYPE html>
<html>
  <head>
    <title>Parabilities</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://kit.fontawesome.com/c8eff70ef3.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= render 'shared/navbar' %>
  </body>
</html>
